{% extends 'base.html' %}
{% load static %}
{% block title %}Suoyue Zhan - Resume {% endblock %}
{% block meta_description %}This is Suoyue Zhan's Resume.{% endblock %}
{% block content %}
	      <div class="collapse navbar-collapse" id="ftco-navbar">
	        <ul class="navbar-nav ml-auto ">
	          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="projects.html" class="nav-link">Projects</a></li>
	          <li class="nav-item active"><a href="resume.html" class="nav-link">Resume</a></li>
	          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
        
	    </div>
	  </nav>

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'website/images/bg_resume.png' %}');" >
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text">
            <div class="row-md-15 col-md-7 col-sm-12 ftco-animate mb-5">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Education, Awards and Service Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">EDUCATION</a>
<!-- 
		              <a class="nav-link" id="v-pills-awards-tab" data-toggle="pill" href="#v-pills-awards" role="tab" aria-controls="v-pills-awards" aria-selected="false">AWARDS</a> -->

		              <a class="nav-link" id="v-pills-services-tab" data-toggle="pill" href="#v-pills-services" role="tab" aria-controls="v-pills-services" aria-selected="false">SERVICES</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
			                  <li><h2 class="mb-0">PhD, Electrical Engineering</h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">University of Windsor (Windsor, ON), Graduating 2022 (GPA: 3.9/4.0)</p></li>
			           
			                	<li><h2 class="mb-0">MASc, Electrical Engineering</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">University of Windsor (Windsor, ON), 2018 (GPA: 3.8/4.0)</p></li>

			              		<li><h2 class="mb-0">Post Graduate Diploma of Management</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">Niagara College (Niagara On-The-Lake, ON), 2016 (GPA: 3.6/4.0)</p></li>

			              		<li><h2 class="mb-0">BS, Electrical Engineering</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">University of Electronic Science and Technology of China (Chengdu, China), 2015 (GPA: 3.2/4.0)</p></li>
			              	<ul>
				            </div>
		              </div>

<!-- 		              <div class="tab-pane fade" id="v-pills-awards" role="tabpanel" aria-labelledby="v-pills-awards-tab">
		                <div>
											<ul>
  											<li style = "font-size: 20px;">2020 The Shelby Hildebrand Graduate Fellowship (10,000 USD)</li>
  											<li style = "font-size: 20px;">2013-2016 Graduate Fellowship in Sichuan University (57,600 CNY)</li>
  											<li style = "font-size: 20px;">2013 Certificate of honor for Students of Wu Yuzhang Honors College</li>
  											<li style = "font-size: 20px;">2012 China National Scholarship (2012-15604) (10,000 CNY)</li>
  											<li style = "font-size: 20px;">2012 Excellence in Academic Achievement and Qualification for the Indiana University of Pennsylvania Dean's List</li>
  											<li style = "font-size: 20px;">2011 Sichuan University and Indiana University of Pennsylvania Exchange Program Funds (28,500 USD)</li>
  											<li style = "font-size: 20px;">2009-2012 Undergraduate Scholarship in Sichuan University (3,000 CNY)</li>
											</ul>
				            </div>
		              </div> -->

		              <div class="tab-pane fade" id="v-pills-services" role="tabpanel" aria-labelledby="v-pills-services-tab">
		                <div>
		              		<ul>
			                  <li><h2 class="mb-0">Conference Presentation: Allocating Gate Reliability for Circuit Reliability Optimization (2019) </h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">2021 IEEE International Midwest Symposium on Circuits and Systems (MWSCAS), (Dallas, TX, USA)</p></li>
			           
			                	<li><h2 class="mb-0">Volunteer as Indicator (2015)</h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">CBIE conference, (Niagara Falls, ON, CA)</p></li>

			              		<li><h2 class="mb-0">Piano Companion for University Choir (2011-2015)</h2>
			              		<p class ="mb-3",  style = "font-size: 20px;">University of Electronic Science and Technology of China (Chengdu, China)</p></li>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>
    <!-- Education, Awards and Service End-->

    <hr style = "height: 0.5px; width: 51%;">

    <!-- Work Experience Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">WORK EXPERIENCE</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
			                  <li><h2 class="mb-0">Research Assistant (06/2020 - Present)</h2>
			                		<p class ="mb-3",  style = "font-size: 20px;">Mathematical Finance Program, Department of Electrical and Computer Engineering , University of Windsor</p></li>
			           
			                	<li><h2 class="mb-0">Teaching Assistant (2016 - Present)</h2>
			              		<p class ="mb-0",  style = "font-size: 20px;">Department of Electrical and Computer Engineering , University of Windsor</p></li>           <ul>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">ELEC 2200 "Circuit Analysis"</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">ELEC 2250 "Physical Electronics"</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">ELEC 4330 "Digital Integrated Circuit Design"</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">ELEC 4440 "Analog Integrated Circuit Design"</p></li>
			              			<li><p class ="mb-0",  style = "font-size: 20px;">GENG 8010 "Engineering Mathmetics"</p></li>
			              		</ul>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>
    <!-- Work Experience End-->

    <hr style = "height: 0.5px; width: 51%;">

    <!-- Publications Begin-->

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-12 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-education-tab" data-toggle="pill" href="#v-pills-education" role="tab" aria-controls="v-pills-education" aria-selected="true">PUBLICATIONS</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-education" role="tabpanel" aria-labelledby="v-pills-education-tab">
		              	<div>
		              		<ul>
		              			<li><h2 class="mb-0">Published Papers</h2>
			              		<ul>
			              			<li><p class ="mb-3",  style = "font-size: 20px;">K. Sikander, <b>S. Zhan</b> and C. Chen. (2021). An Analytical Model for Circuit Reliability Estimation <i> 2021 IEEE International Midwest Symposium on Circuits and Systems (MWSCAS)</i>, pp. 84-87, doi: 10.1109/MWS-CAS47672.2021.9531822.</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>S. Zhan</b>, K. Sikander and C. Chen(2021). Allocating Gate Reliability for Circuit Reliability Optimization. <i>2019 IEEE 62nd International Midwest Symposium on Circuits and Systems (MWSCAS)</i>,pp. 327-330, doi:10.1109/MWSCAS.2019.8884830.</p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;">C. Chen, J. Cai and <b>S. Zhan</b>, (2020). A Triple-Point Model for Circuit-Level Reliability Analysis. <i>2018 IEEE International Symposium on Circuits and Systems (ISCAS)</i>, pp. 1-4, doi: 10.1109/ISCAS.2018.8350987</p></li>
			              		</ul>

			              		<li><h2 class="mb-0">Paper In Review</h2>
         								 <ul>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>S.Zhan</b>, C.Chen. A Linear Propagation-Based Model for Signal Probability Estimation with Combinational Circuits. Submitted to <i>Microelectronics Journal.</i></p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>S.Zhan</b>, C.Chen. A Hybrid Method for Signal Probability and Reliability Estimation with Large Circuits Submitted to <i>IEEE Transactions on VLSI.</i></p></li>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>S.Zhan</b>, C.Chen. Fast Estimation on Signal Probability for Large Circuits Under Zero-Delay Model Submitted to <i>27th annual international conference on VLSI design automation in Asia and South Pacic region.</i></p></li>
			              		</ul>

			              		<li><h2 class="mb-0">Paper in progress</h2>
							          <ul>
			              			<li><p class ="mb-3",  style = "font-size: 20px;"><b>S.Zhan</b>, C.Chen. An Effcient Probability and Reliability Estimation Model for Sequential Circuit with Regression-based Convergence Technique</p></li>
			              		</ul>
			              	<ul>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

    <!-- Publications Ends-->
<!--     <center>
    	<div>
    		<p align = "left" style = "vertical-align: middle; font-size: 20px; background-color: #00144f; width: 51%; color: white;">WORK EXPERIENCE</p>
    	</div>
  	</center>
		<hr style = "height: 0.5px; width: 51%; background-color: #00144f"> -->


{% endblock %}